work_in_progress
dist
.pytest_cache
simulation_results
src/powfacpy/__pycache__
tests/__pycache__
tests/results.csv
tests/tests_output/
tutorials/results.csv
tutorials/.ipynb_checkpoints
powerfactory_projects
py_venv
*.csv
.vscode
